/.bundle

/config/master.key

/log/*
!/log/.keep

/node_modules

/public/assets
/public/vite*

/storage/*
!/storage/.keep

/tmp/*
!/tmp/pids/
!/tmp/storage/
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/.keep

/tmp/storage/*
!/tmp/storage/.keep

*.local

yarn-error.log
